@use "./settings.scss" as *;
@use "sass:math";

body {
	min-width: #{$minWidth}px;
	color: $mainColor;
	font-family: $fontFamily;
	font-size: #{$fontSize}px;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
	> main {
		flex: 1 1 auto;
	}
	> * {
		min-width: 0;
	}
}

@mixin container() {
	margin: 0 auto;
	@if ($maxWidthContainer > 0) {
		max-width: #{$containerWidth}px;
	}
	@if ($containerPadding > 0) {
		padding-left: #{math.div($containerPadding, 2)}px;
		padding-right: #{math.div($containerPadding, 2)}px;
	}
	@if ($responsiveType == 1) {
		@if ($maxWidthContainer == 0 and $containerPadding > 0) {
			// Адаптивный padding, если контейнер резиновый
			@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
			@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
		}
	} @else {
		@media (max-width: toEm($pc)) {
			max-width: 970px;
		}

		@media (max-width: toEm($tablet)) {
			max-width: 750px;
		}

		@media (max-width: toEm($mobile)) {
			max-width: none;

			@if ($containerPadding > 0 and $maxWidthContainer > 0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			}
		}
	}
}

[class*="__container"] {
	@include container();
}
